* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: black;
    --nav-color: rgb(28, 178, 115);
    --nav-color-dark: rgb(10, 79, 50);
    --hover-dark: rgb(14, 126, 80);
    --web-background: rgb(6, 53, 41);
    --category-wrapper-background: rgba(255, 255, 255, 0.5);
}


body {
    background-color: lightblue;
}

/* Hide form arrow to increase number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
    margin: 0 2rem;
}


::-webkit-scrollbar-thumb {
    background: var(--nav-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--nav-color-dark);
}

body {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: rgb(209, 209, 209);
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    background-color: var(--nav-color);
    height: 5vh;
}

.header-logo {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    width: 50%;
}


.nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style: none;
    font-weight: bold;
}
.nav-bar a {
    text-decoration: none;
    height: 100%;
}

.nav-bar a:hover {
    text-decoration: underline black;
}


@media only screen and (max-width: 960px) {
    header {
        flex-direction: column;
        position: relative;
        align-items: center;
        height: max-content;
    }
    .header-logo {
        width: 5vh;
        height: 5vh;
    }
    .nav-bar {
        width: 100%;
        flex-direction: column;
    }
    
    .nav-bar ul {
        flex-direction: column;
    }

    .nav-bar li {
        width: 100%;
    }

    .nav-bar a {
        height: 2rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .nav-bar a:active {
        background-color: var(--hover-dark);
    }
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome-text {
    margin-top: calc(5vh + 2rem);
    text-align: center;
}

.category-heading {
    margin-top: calc(5vh + 2rem);
}

.book-category-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: var(--category-wrapper-background); /*#F6E3C5*/
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-radius: 2rem;
}

.book-category-wrapper:first-child {
    margin-top: calc(5vh + 2rem);
}

.book-category-wrapper:last-child {
    margin-bottom: calc(5vh + 2rem);
}

.category-title {
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 2rem 2rem 1rem 2rem;
    width: max-content;
}

.category-title:hover {
    text-decoration: underline 2px black;
}

.book-wrapper {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    height: 30vh;
    padding: 1rem 0;
}

.book-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 1rem;
    text-decoration: none;
    padding: 0 1rem;
    transition: 0.2s ease-in-out;
    border-radius: 1rem;
}

.book-display:hover {
    background-color: rgb(50, 197, 136);
}

.book-img {
    height: 70%;
}

.book-title {
    text-decoration: none;
    font-size: 1rem;
    font-weight: normal;
}

footer {
    width: 100%;
    height: 5vh;
    position: absolute;
    bottom: 0;
    background-color: var(--nav-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

footer nav {
    width: 100%;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

footer a {
    text-decoration: none;
}



@media only screen and (max-width: 960px) {
    footer {
        height: max-content;
        position: relative;
    }
    footer ul {
        flex-direction: column;
    }

    footer a{
        height: 2rem;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .category-heading {
        margin-top: 2rem
    }
}

.contact-form {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--category-wrapper-background);
}

.input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

.input-wrapper label {
    margin-right: 1rem;
}

.contact-form select {
    width: max-content;
    height: 1.5rem;
    /* margin-bottom: 1rem; */
}

.contact-form input {
    height: 1.7rem;
    flex-grow: 1;
    padding-left: 0.5rem;
    border-radius: 5px;
    border: black 1px solid;
}

.contact-form input:focus {
    outline: none
}

.contact-form textarea {
    margin-bottom: 1rem;
    padding: 1rem;
    resize: none;
    border-radius: 5px;
    border: black 1px solid
}

.contact-form textarea:focus {
    outline: none
}

.checkbox-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2rem;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 1rem;
}

.checkbox-wrapper input {
    height: 1rem;
    margin: 0
}

.radio-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 1rem;
}

.radio-wrapper input {
    height: 1rem;
    margin: 0;
}

.contact-form-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.contact-form-button-wrapper button {
    width: 30%;
    height: 30%;
    border: none;
    background-color: var(--nav-color);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem 0;
    font-weight: bold;
    border-radius: 3rem;
}

.contact-form-button-wrapper button:hover {
    background-color: var(--hover-dark);
}

.select-input-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media only screen and (max-width: 960px) {
    .contact-form {
        width: 80%;
        /* align-items: flex-start; */
        padding: 1rem;
    }
    .input-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .input-wrapper label {
        align-items: l;
    }

    .checkbox-wrapper {
        flex-direction: column;
        align-items: flex-start;
        
        /* margin-bottom: 2rem */
    }

    .radio-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-form-button-wrapper {
        flex-direction: column;
        align-items: center;
        height: 7rem;
    }
    .contact-form-button-wrapper button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 3rem;
    }
    .select-input-wrapper {
        width: 100%;
        justify-content: flex-start;
    }
}